#game-row {
	height: 90%;
	max-height: 700px;
}

#messages-box {
	width: 100%;
	height: 50%;
	max-height: 250px;
	overflow-y: scroll;
}

#users-box {
	width: 100%;
	height: 50%;
	max-height: 250px;
	overflow-y: scroll;
}

#start-game-form {
	text-align: center;
}


#render-window {
	width: 700px;
	height: 500px;
	margin: auto;
	background-color: #000;
	overflow: hidden;
}

#hud-wrapper {
	width: 700px;
	height: 30px;
	margin: auto;
	background-color: #999;
}

#hud {
	height: 30px;
}

.hud-1, .hud-2, .hud-3, .hud-4, .hud-5 {
	background-color: #F00;
}

.hud-6 {
	background-color: #00F;
}

.timestamp {
	font-size: 80%;
}

.chat {
	margin-bottom: 0px;
}

.input-group {
	margin-bottom: 5px;
}

.character-chooser {
	width: 250px;
	text-align: center;
	margin: auto;
	display: block;
}

.player-character {
	position: absolute;
	top: 225px;
	left: 334px;
}